@model EntryController.ShowModel
@{
    View.Title = Model.Title;
}
<div class="crossbar">
    Freelance web developer in Sydney, specialising in ASP.NET MVC, jQuery, C# and SQL Server - <a href="#">hire me for your project</a>
</div>

<article class="entry">
    @if (Model.IsAdmin)
    {
        <div class="entry-admin">
            <text>Admin: </text>
            @Html.ActionLink("Edit", "Edit", "Entry", new { id = Model.Slug }, null)
        </div>
    }
    <h1>@Model.Title</h1>
    
    @Html.Safe(@Model.Html)

    <div class="entry-date">
        @Model.Date
    </div>


</article>