@model EntryController.ShowModel
@{
    View.Title = Model.Title;
}

<article class="entry">
    @if (Model.Base.IsAdmin)
    {
        <div class="admin-box text-links">
            Admin:
            @Html.ActionLink("Edit", "Edit", "Entry", new { id = Model.Slug }, null)
        </div>
    }
    
    <h1>@Model.Title</h1>
    
    <div class="text-links">
        @Html.Safe(@Model.Html)
    </div>

    <div class="entry-date">
        @Model.Date
    </div>

    <p>
        @Html.ActionLink("Read more posts »", "Index", "Home")
    </p>
</article>